footer{
    background-color: #004C8A;
    .form-control {
        border-radius: 20px;
    }
    h3 {
        font: normal normal 600 20px/30px Muli;
        color: #FFFFFF;
        white-space: nowrap;
    }
    ul {
        li {
            a{
                line-height: 16px;
                white-space: nowrap;
                font: normal normal 400 16px/30px Muli;
                letter-spacing: 0px;
                color: #FFFFFF;
            }
        }
    }
    .social-icon-style {
        a {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid;
            color: #fff;
            background-color: #000;
        }
    }
}
