body {
  font-family: 'Muli', sans-serif;
  background-color: white;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}



.main-content {
  .main-section {
    background-color: #004C8A;
    margin-bottom: 100px;
    .main-section_bg {
      background-image: url("../../img/Group 124.svg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      height: 440px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @media (max-width: 1440px) {
        background-size: 70%;
      }
      @media (max-width: 1200px) {
        background-size: 50%;
        background-position: right bottom;
      }
      @media (max-width: 560px) {
       background-image: none;
      }
    }
    h1 {
      font: normal normal 700 40px/59px Muli;
      color: #FFFFFF;
      span {
        color: #D1EAFF;
      }
    }
    .sub-title {
      font: normal normal 700 30px/44px Muli;
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }
  .card-item {
    height: 300px;
    max-width: 520px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .sale-card {
      box-shadow: 0 0 6px #00000029;
      border-radius: 10px;
      padding: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 512px;
      width: 100%;
      height: 260px;
      .sale_price {
        font: normal normal 700 32px/47px Muli;
        color: #004C8A;
      }
      .sale_title {
        font: normal normal 700 25px/36px Muli;
        color: #004C8A;
      }
    }
  }
  .category-card {
    background: #F6F7FB 0 0 no-repeat padding-box;
    border: 1px solid #4F99D5;
    border-radius: 10px;
    width: 493px;
    height: 174px;
    margin-bottom: 40px;
    &_sale {
      font: normal normal 700 20px/30px Muli;
      color: #FF8400;
      text-transform: uppercase;
    }
    &_title{
      font: normal normal 700 25px/36px Muli;
      color: #004C8A;
    }
    &_link a {
      font: normal normal 700 16px/24px Muli;
      color: #4F99D5;
    }
  }
  .today-card {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 0 6px #00000029;
    border-radius: 10px;
    width: 348px;
    height: 452px;
    margin: 0 6px 20px;

    .today_sale {
      width: 90px;
      height: 30px;
      background: #FF8400 0 0 no-repeat padding-box;
      border-radius: 17px;
      color: #FFFFFF;
      font: normal normal 700 14px/14px Muli;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_category a {
      font: normal normal 500 14px/20px Muli;
      color: #004C8A;
      margin-bottom: 4px;
    }
    &_product-title {
      font: normal normal 700 18px/26px Muli;
      color: #000000;
      margin-bottom: 24px;
    }
    &_price {
      text-decoration: line-through;
      font: normal normal 700 18px/26px Muli;
    }
    &_new-price {
      font: normal normal 700 18px/26px Muli;
      color: #FF0000;
    }
    &_add-card {
      width: 68px;
      height: 40px;
      background: transparent linear-gradient(180deg, #FFC400 0%, #FF8400 100%) 0 0 no-repeat padding-box;
      border-radius: 19px;
    }
    @media (max-width: 1470px) {
      margin: 0 6px 10px;
    }
  }
  .yellow-btn {
    max-width: 140px;
  }
  .chat {
    position: fixed;
    right: 40px;
    bottom: 40px;
    cursor: pointer;
  }
}

.best-offer-section {
  .accordion {
    border: 0;
    .card {
      background: #F6F7FB 0 0 no-repeat padding-box;
      box-shadow: 0 0 6px #00000029;
      border-radius: 10px;
      margin-bottom: 24px;
      border: 0;
      &-header {
        min-height: 165px;
        border: 0;
        display: flex;
        .text {
          padding: 0 30px;
        }
        img {
          min-width: 200px;
          @media (max-width: 768px) {
           zoom: 0.7;
          }
        }
      }
      &-body {
        background: #eeeff3;
        &_card {
          width: 246px;
          height: 173px;
          background: #FFFFFF 0 0 no-repeat padding-box;
          box-shadow: 0 0 6px #00000008;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          margin-bottom: 4px;
          .card-body_title {
            font: normal normal 700 18px/26px Muli;
            color: #004C8A;
          }
          .card-body_sale {
            font: normal normal 700 14px/20px Muli;
            color: #FF8400;
          }
        }
      }
    }
  }
}

.bg-light-orange {
  background: #FFF7E9 0 0 no-repeat padding-box;
}
.bg-light-gray {
  background: #F6F7FB 0 0 no-repeat padding-box;
}
.bg-light-green {
  background: #F7FDF9 0 0 no-repeat padding-box;
}
.category-content {
  flex: 1;
  .today-card {
    width: 300px;
    height: 460px;
    margin-bottom: 35px;
  }
  .filter {
    display: flex;
    align-items: center;
    span {
      font: normal normal 600 16px/24px Muli;
      color: #004C8A;
      min-width: 50px;
    }
    .form-control {
      background: #FFFFFF 0 0 no-repeat padding-box;
      border: 1px solid #D1D6E9;
      border-radius: 10px;
      font: normal normal 400 16px/24px Muli;
      color: #CFCFCF;
      width: 260px;
    }
  }
  .title  {
    font: normal normal 400 25px/36px Muli;
    color: #FF8400;
  }
}

#profileTab {
  height: 73px;
  background: #004C8A 0 0 no-repeat padding-box;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .nav-item {
    border-right: 1px solid #fff;
    &:last-child {
      border-right: 0;
    }
  }
  .nav-link {
    font: normal normal 600 18px/26px Muli;
    color: #FFFFFF;
    border: 0!important;
    border-right: 1px solid ;
    &.active {
      background-color: transparent;
      color: #FF8400;
    }
  }
}
.my-profile-form {
  .section_title {
    font: normal normal 600 25px/36px Muli;
    color: #004C8A;
  }
  .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form-label {
      margin-bottom: 0;
      min-width: 150px;
      font: normal normal 600 18px/26px Muli;
      color: #2A2A2A;
    }
    .form-control {
      width: 328px;
      height: 37px;
      background: #FFFFFF 0 0 no-repeat padding-box;
      border: 1px solid #DBDBDB;
      border-radius: 10px;
    }
    textarea {
      min-height: 62px!important;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      .form-label {
        margin-right: auto;
        margin-bottom: 4px;
      }
    }
  }
}
 .myOrder {
   .sub-title {
     font: normal normal 600 18px/26px Muli;
     color: #004C8A;
     flex: 1;
     text-align: center;
   }
 }
.order-list {
  font: normal normal 600 18px/26px Muli;
  color: #000000;
  .product_category {
    font: normal normal 400 14px/20px Muli;
    color: #004C8A;
  }
  .product_status {
    color: #FF8400;
  }
}
